@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

.loginContainer {
  display: flex;
  position: relative;
  width: 70%;
  height: 70vh;
  box-shadow: 0px 0px 30px 0px #00000026;
  margin-top: 7%;
  margin-left: 14%;
}

.logInQuizzie {
  position: relative;
  font-family: Jomhuria;
  font-weight: 400;
  color: #474444;
  font-size: 3.5em;
  margin-left: 44%;
  margin-top: 1%;
}

.signUplogin {
  position: absolute;
  width: 12%;
  height: 5vh;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #474444;
  font-size: 1em;
  font-weight: 500;
  margin-top: 8%;
  margin-left: 28%;
  cursor: pointer;
}

.logInBackground {
  position: relative;
  width: 15%;
  height: 5vh;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #474444;
  font-size: 1em;
  font-weight: 500;
  margin-top: 8%;
  margin-left: 2%;
  box-shadow: 0px 0px 30px 0px #a9bcff;
  cursor: pointer;
}

.logInForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 20%;
    margin-left: 50%;
}

.loginformGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logInForm label {
    display: flex;
    text-align: right;
    margin-right: 65px;
    margin-left: -60%;
    flex-direction: column-reverse;
    justify-content: center;
}

.logInForm input {
    padding: 10px;
    width: 70%;
    height: 3vh;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    display: inline-block;
    position: relative;
    left: -25%;
}

.logInForm input:focus {
    outline: none;
  }


.logInForm button {
  padding: 10px 100px;
  border-radius: 8px;
  border: none;
  background-color: #a9bcff;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: -38%;
  margin-right: 0%;
  position: absolute;
  margin-top: 50%;
  color: #474444;
  font-size: 1em;
  font-weight: 400;
}