.createTransparentQA {
  background: #000000cf;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.qandAContainerBox {
  position: relative;
  display: block;
  width: 58%;
  height: 75vh;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.qButtonContainer {
  position: relative;
  top: 18%;
  display: flex;
  margin-left: 8%;
  border: none;
}

.qButton {
  width: 6%;
  height: 6vh;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
  color: #9f9f9f;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  transition: 0.3s;
  margin-left: 4%;
  margin-top: 3%;
}

.plusImg {
  position: relative;
  width: 60%;
  height: 4vh;
  top: 12%;
}
.addBtn {
  position: absolute;
  margin-top: 3%;
}

.crossImgBtn {
  position: relative;
  left: 30%;
  top: -28%;
}

.maxText {
  position: relative;
  font-weight: 500;
  left: 20%;
  font-size: 1.4em;
  color: #9f9f9f;
}

.qandaformContainer {
  position: relative;
  top: 5%;
  display: block;
  margin-left: 4%;
  border: none;
}

.qandacreateform {
  width: 95%;
  height: 7vh;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  font-size: 1.1em;
  padding-left: 1%;
  color: #9f9f9f;
}

.radioContainer {
  position: relative;
  display: flex;
  margin-top: 6%;
  left: 12%;
  gap: 8%;
  font-weight: 500;
  color: #9f9f9f;
  font-size: 1.1em;
  cursor: pointer;
}

.radioContainer input {
  margin-right: 10px;
  cursor: pointer;
}

.radioContainer input[type="radio"]:checked {
  background-color: #000000;
}

.optionInputContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 5%;
}

.optionInputContainer1 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 18%;
}

.optionInputContainer2 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 24%;
}

.optionInputContainer3 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 6.2%;
  margin-left: 25%;
}

.optionInputContainer4 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 13%;
  margin-left: 25%;
}

.Container5 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 19.5%;
  margin-left: 3%;
  right: 51%;
}

.Container6 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 25.2%;
  margin-left: 3%;
  right: 51%;
}

.optionInputContainer3Selected {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 4.2%;
  margin-left: 1%;
  top: 0%;
}

.optionInputContainer4Selected {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 9%;
  margin-left: 1%;
  top: 0%;
}

.Container5Selected {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 16.5%;
  margin-left: 3%;
  right: 75%;
  top: 0%;
}

.Container6Selected {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 23%;
  margin-left: 3%;
  right: 75%;
  top: 0%;
}

.radioButton {
  position: absolute;
  right: 100%;
  top: 21%;
}

.radioButton1 {
  position: absolute;
  right: 100%;
  top: 73%;
}

.radioButton2 {
  position: absolute;
  right: 100%;
  top: 50%;
}

.radioButtonImg1 {
  position: relative;
  right: 100%;
  top: 11%;
}

.radioButtonImg2 {
  position: absolute;
  right: 100%;
  top: 140%;
}

.radioButtonImg3 {
  position: absolute;
  right: 100%;
  margin-top: 90%;
}

.optionInput {
  height: 2em;
  border-radius: 8px;
  height: 5vh;
  outline: none;
  border: none;
  background-color: #ffffff;
  padding: 0 10px;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  color: #9f9f9f;
}

.addOptionbtn {
  position: absolute;
  margin-left: 12%;
  border-radius: 8px;
  width: 23%;
  height: 5vh;
  margin-top: 25%;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  font-size: 1.1em;
  color: #9f9f9f;
  top: 35%;
}

.caCqContainer {
  display: flex;
  position: relative;
  gap: 23%;
  margin-left: 6%;
  top: 50%;
  
}

.delBtnContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 63%;
  left: 60%;
}

.delBtnContainer1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 73%;
  left: 60%;
}


.delbttns {
  position: relative;
  width: 5%;
  height: 5vh;
  left: 63%;
  margin-top: 2%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.caCqBtns {
  width: 35%;
  height: 6vh;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  color: #474444;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  font-size: 1.1em;
  transition: 0.3s;
  position: relative;
  margin-top: 0%;
}

.cancelBtn:hover {
  background-color: #f53c4f;
  color: #ffffff;
}

.continueBtn:hover {
  background-color: #60b84b;
  color: #ffffff;
}
